@import url("assets/styles/buttons.css");

.icon-button {
  display: none;
  padding: 0;
  align-items: center;
  justify-content: center;
  min-width: 40px;
}

@media (width <= 1145px) {
  .icon-button{
    display: flex;
  }
}