@if (horizontal) {
  <button color="basic" class="container horizontal" (click)="onClick($event)" mat-icon-button>
    <mat-icon>{{icon}}</mat-icon>
    <span class="main-text">{{text}}</span>
  </button>
} @else {
  <button color="basic" class="container vertical icon-button" (click)="onClick($event)" mat-stroked-button extended>
    <mat-icon>{{icon}}</mat-icon>
    <span class="main-text">{{text}}</span>
  </button>
}
<ng-template #vertical>
  <button color="basic" class="container vertical icon-button" (click)="onClick($event)" mat-stroked-button extended>
    <mat-icon>{{icon}}</mat-icon>
    <span class="main-text">{{text}}</span>
  </button>
</ng-template>