.container {
  border: none;
  color: var(--foreground-icon);
}

.horizontal {

}

.vertical {

}

.icon-button {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
}

.icon-button > * {
  margin: 0;
  padding: 0;
}
