.container{
    width: 100%;

    /* height: 20em; */
    height: 100%;
    display: grid;
    grid-template: 'left center right' 1fr / min-content 1fr min-content;
}

.left{
    grid-area: left;
}

.right{
    grid-area: right;
}

.right, .left{
    position: relative;
}

.left-panel,.right-panel {
    position: absolute;
    z-index: 100;
    height: 100%;
    display: grid;
    align-content: center;
}

.right-panel {
    transform: translateX(-100%);
}


.center{
    position: relative;

    /* border: 1px red solid; */
    overflow: hidden;
    grid-area: center;
}

.slide{
    color: red;
    -webkit-text-stroke: 1px #f3f3f3;
    text-shadow: 2px 2px 3px rgb(40 40 40);
    display: grid;
    grid-template: "title" max-content
                   "description" 1fr;
    background-size: cover;
}

.title{
    font-weight: 900;
    grid-area: title;
    font-size: 3em;
    line-height: 1em;
    padding: 0 0 1em;
}

.description{
    font-weight: bolder;
    grid-area: description;
    font-size: 2em;
    line-height: 1em;
    padding: 0.5em 0;
}

.slide{
    position: absolute;
    height: 100%;
    width: 100%;
    visibility: hidden;
    padding: 2em;

    /* transition: transform ease-in-out 1s; */
}

.transform-animation{
    transition: transform ease-in-out 1s;
}

.previous, .current{
    visibility: visible;
}

.slide.left-direction{
    transform: translateX(-100%);
}

.previous.left-direction{
    transform: translateX(100%);
}

.slide.right-direction{
    transform: translateX(100%);
}

.previous.right-direction{
    transform: translateX(-100%);
}

.slide.current{
    transform: translateX(0);
}