@import url("../../../../assets/styles/buttons.css");

.container {
  padding: 1em;
  background-color: var(--background-card);
  border: 1px solid var(--foreground-text);
  border-radius: 0.5em;
  max-width: 80em;
  display: grid;
  grid-template-areas: "title title"
                         "image subtitle"
                         "image description";
  grid-template-columns: 1fr 3fr;
}

.title {
  grid-area: title;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin: 0;
  padding-left: 10%;
  padding-bottom: 1em;
  border-bottom: 1px solid var(--foreground-text);
}

.title-text {
  margin: 0;
}

.title-panel {
  display: grid;
  justify-content: flex-end;
  grid-auto-flow: column;
}

.subtitle {
  grid-area: subtitle;
  display: grid;
  justify-content: center;
  padding: 1em;
}

.subtitle > * {
  margin: 0;
}

.image {
  grid-area: image;
  padding: 3em;
  border-right: 1px solid var(--foreground-text);
  display: grid;
  justify-content: center;
  align-items: center;
}

.image > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  max-height: 80vh;
  max-width: 90vw;
}

.description {
  grid-area: description;
  margin: 3em;
  text-align: justify;
}

@media (width <= 1145px) {
  .container {
    max-width: 90vw;
    grid-template-areas: "title"
                             "subtitle"
                             "image"
                             "description";
    grid-template-columns: 1fr;
  }

  .image {
    border-right: none;
    padding-top: 1em;
  }

  .description {
    margin: 0;
    padding: 0;
  }
}
