<div class="container">
  <div class="title">
    <h1 class="title-text">{{newspaper.title}}</h1>
    <div class="title-panel">
      @if (!(readonly$ | async)) {
        <button (click)="onDelete(newspaper)" color="warn" mat-icon-button><mat-icon>delete</mat-icon></button>
      }
      <a [routerLink]="[newspaper.pid]" mat-icon-button><mat-icon>open_in_new</mat-icon></a>
    </div>
  </div>
  <div class="subtitle"><h2>{{newspaper.month}}, {{newspaper.year}}</h2></div>
  <div class="image"><img [src]="newspaper.cover | base64toImage"></div>
  <div class="description"><span>{{newspaper.description}}</span></div>
</div>