<div class="container">
  @if (book(); as book) {
    <div class="card">
      @if (readonly$ | async) {
        <div class="title"><h1 class="title-text">{{ book.title }}</h1></div>
        <div class="subtitle"><h2>{{ book.author }}</h2></div>
        <div class="image"><img [src]="book.image | base64toImage" alt="cover"></div>
        <div class="description"><span>{{ book.description }}</span></div>
      } @else {
        <div class="title">
          <h1 class="title-text">
            <app-text-editor [(value)]="book.title"/>
          </h1>
        </div>
        <div class="subtitle">
          <h2>
            <app-text-editor [(value)]="book.author"/>
          </h2>
        </div>
        <div class="image">
          <input #importImage hidden type="file" onclick="this.value=null"
                 (change)="onImageUploaded($event, book)" [accept]="'image/*'"/>
          <img class="editable-image" (click)="importImage.click()"
               [src]="book.image | base64toImage" fill>
        </div>
        <div class="description">
          <app-text-editor [buttonPositions]="'top'" [(value)]="book.description"/>
        </div>
        <div class="buttons">
          <button [disabled]="isUpdating()" color="primary" mat-stroked-button (click)="onPublish(book)">
            @if (!isUpdating()) {
              <span>Publish</span>
            } @else {
              <mat-spinner [diameter]="20"/>
            }
          </button>
        </div>
      }
    </div>
  }
</div>
