.container{
    width: 100%;
    display: grid;
    justify-content: center;
}
.card{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.title-panel{
    display: grid;
    justify-content: flex-end;
    grid-auto-flow: column;
}