
@if (horizontal) {
  <button color="basic" class="theme-button icon-button" (click)="onClick()" mat-icon-button><mat-icon>brightness_4</mat-icon></button>
} @else {
  <button color="basic" class="theme-button vertical" (click)="onClick()" mat-stroked-button extended>
    <span>Theme</span>
    <mat-icon>brightness_4</mat-icon>
  </button>
}
<ng-template #vertical>
  <button color="basic" class="theme-button vertical" (click)="onClick()" mat-stroked-button extended>
    <span>Theme</span>
    <mat-icon>brightness_4</mat-icon>
  </button>
</ng-template>

<!-- <app-top-bar-panel-button [horizontal]="true" [icon]="'brightness_4'" [text]="'Theme'" (onButtonClick)="onClick()"/> -->