.home-button {
  height: 100%;
  border: none;
  border-radius: 0;
  margin: 0 0.5em 0 0.5em;
}

.icon-button > * {
  margin: 0;
  padding: 0;
}

.title {
  margin: 0 0.3em 0 0.3em;
  color: var(--primary-default);
}

.title::before {
  content: "Red.Biblioteca";
}

@media (max-width: 650px) {
  .title::before {
    content: "RB";
  }
}

.img-title {
  /* filter:invert(1); */
}

::ng-deep .mdc-button__label {
  display: flex;
}
