<div class="container">
  @if (getPermission() | async; as permission) {
    <div class="left">
      @if (permission.isPermited) {
        <app-side-menu-button/>
      }
      @if (permission.isPermited) {
        <app-home-button class="home-button"/>
      }
    </div>
    <div class="center">
      @if (permission.isPermited) {
        <!-- <app-title/> -->
        <app-top-menu/>
      }
    </div>
    <div class="right">
      <app-top-bar-panel/>
    </div>
  }
</div>
<div class="subline"></div>
