.layout {
  display: grid;
  width: 100%;
  height: fit-content;
  min-height: 100%;
  grid-template-areas:
    "head head"
    "nav  main"
    "nav  foot";
  grid-template-rows: fit-content(3em) 1fr fit-content(3em);
  grid-template-columns: fit-content(10%) 1fr;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  /* background-color: var(--theme-color-hieght); */
  background-color: var(--primary-color);
  grid-area: head;
}

.side-menu {
  grid-area: nav;
}

.main-body {
  grid-area: main;
}

.footer {
  grid-area: foot;
}
  