@import url("assets/styles/buttons.css");

.container {
  position: sticky;
  top: calc(var(--header-offset));
  max-height: calc(100vh - var(--header-offset));
  height: 100%;
  width: 20em;
  padding-right: 3em;
  overflow: hidden;
}

.box {
  height: 100%;
  background: var(--background-card);
  box-shadow: 2px 0 20px 0 var(--background-tooltip);
  border-right: 1px solid var(--primary-default);
  padding: 3em 0;
  display: flex;
  flex-direction: column;
}
