<div class="subline"></div>
<div class="container">
  <div class="logo">
    <img class="img-title" [src]="'assets/img/logo.png'" alt="logo">
  </div>
  <div class="container-info">
    <div class="info">
      <span class="name">{{ name }}</span>
      <div class="contacts">
        <span class="address">{{ contacts.address }}</span>
        <span class="phone">tel. {{ contacts.phone }}</span>
        <span class="e-mail">e-mail: {{ contacts.email }}</span>
      </div>
    </div>

    <span class="copyright">{{ copyright }}</span>
  </div>
</div>

