<div class="container">
  <div class="content">
    <app-top-banner class="banner"/>
    <app-content-menu [items]="items" class="menu"/>
    <div class="articles-with-news">
      <div class="articles">
        <app-article [article]="about"/>
        <app-article [article]="hotToUse"/>
        <app-article [article]="sergioMotosi"/>
      </div>
      <div class="news">
        <div class="shadow-box"> <!-- TODO move to shared component or css -->
          <app-last-news/>
        </div>
      </div>
    </div>
  </div>
</div>
