<div class="container">
    <div class="content">
        <app-top-banner/>
   
        <!-- <div class="content-title"><h1>Welcome!</h1></div> -->
        <!-- <ul class="content-table">
            <li *ngFor="let article of articles"><a [routerLink]='"."' [fragment]="article.id">{{article.title}}</a></li>
        </ul> -->
        
        <div class="articles">
            <div class="first-content">
                <div class="first-content-articles">
                    <app-article [article]="about"/>
                    <app-article [article]="hotToUse"/>
                </div>
                <div class="news">
                    <app-last-news/>
                </div>
            </div>
            <app-article [article]="sergioMotosi"/>
            <app-article [article]="contacts"/>
        </div>
    </div>
</div>