<div class="container">
  <div class="content">
    <app-top-banner class="banner"/>
    <app-content-menu [items]="items" class="menu"/>

    <!-- <div class="content-title"><h1>Welcome!</h1></div> -->
    <!-- <ul class="content-table">
        <li *ngFor="let article of articles"><a [routerLink]='"."' [fragment]="article.id">{{article.title}}</a></li>
    </ul> -->

    <div class="articles-with-news">
      <div class="articles">
        <app-article [article]="about"/>
        <app-article [article]="hotToUse"/>
        <app-article [article]="sergioMotosi"/>
      </div>
      <div class="news">
        <app-last-news/>
      </div>
    </div>
  </div>
</div>
