.container {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: stretch;
}

::ng-deep mat-form-field > .mat-mdc-form-field-bottom-align {
  display: none;
}

.clone-button {
  height: 100%;
}
